@font-face {
    font-family: 'Distefano-Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/tipo_-_distefanosans_regular-webfont.woff') format('woff');
}

@font-face {    
    font-family: 'Distefano-Sans';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/tipo_-_distefanosans-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/tipo_-_distefanosans_light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: italic;
    font-weight: 200;
    src: url('fonts/tipo_-_distefanosanslightitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/tipo_-_distefanosans-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: italic;
    font-weight: 900;
    src: url('fonts/tipo_-_distefanosans-blackitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/tipo_-_distefanosans-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/tipo_-_distefanosans-bolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';

    font-weight: 900;
    src: url('fonts/tipo_-_distefanoslab-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';
    font-style: italic;
    font-weight: 900;
    src: url('fonts/tipo_-_distefanoslab-blackitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';

    font-weight: 700;
    src: url('fonts/tipo_-_distefanoslab-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/tipo_-_distefanoslab-bolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/tipo_-_distefanoslab-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';

    font-weight: 200;
    src: url('fonts/tipo_-_distefanoslab-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';
    font-style: italic;
    font-weight: 200;
    src: url('fonts/tipo_-_distefanoslab-lightitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';

    font-weight: 400;
    src: url('fonts/tipo_-_distefanoslab-regular-webfont.woff') format('woff');
}


body {
	font: normal 100%/1.5 'Distefano-Sans', sans-serif;
	background: #fff;
	color:#000;
}

header{
	margin-top: 1em;
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
	width: 100%;
    padding-bottom: 1em;
}

.hidebutton{
text-align: right;
}
.hidebutton button{
    border: none;
    background-color: white;
    font-size: 30px;
    position: bottom;
}

header #hide{
    padding-top: 5px;
    text-align: right;
}

.headermenu a{
    transition: 0.2s;
    display:inline-block;
    color:#000;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em
}


header .untref img{
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}
/*LANDER*/
.Lander{
    padding-top:1em;     
}

.titlelander h1{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25em;
}

.sublander h2{
    text-align:center;
    font-size: 1.5em;
    color: #4a4a4a;
    font-family:'DistefanoSlab-Regular','DistefanoSlab';
}

.searcher{
    margin-top: 50px;
}

.searcherbtn{
    background-color: #000;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
}

.searcherbtn:hover{
    background-color:#333333;
    color:#fff; 
    transition: 0.2s;   
}

.searcherbox{
    background-color: #f4f4f4; 
    margin-right: 15px;
}


.uan:hover{
    transition: 0.4s;
    background-color: black;
    color:white;
}

.tu:hover{
    transition: 0.2s;
    background-color: black;
    color:white;

}

.uno,
.dos,
.tres{
    display: inline-block;
}

.select2{
    width:100%!important;
}

.landerresults p{
    display: inline-flex;
    border-radius: 20px;
    padding: 0.4em 0.6em;
    margin:5px 4px;
    background-color:#17aae4;
    color:#fff;
    font-family:'Distefano-Slab';
    font-weight: 400;
    font-size:0.8em;
    text-transform: uppercase;
}

.landerresults i{
    margin-left: 1px;
    font-size: 0.5em;
    vertical-align: super;
}

/*DESAPARECE EL BUSCADOR DEL SELECT2
.select2-search {
    display:none
}*/
.selectes{
    margin-top:1em;
}

.linksearch {
    margin-top: 50px;
    text-align: center;
}
.icons{
    text-align: center;
}

.icons i{
    transition: 0.2s;
    font-size: 40px;
    margin:10px 25px;
    color:#000;
}

.icons i:hover{
    font-size: 50px;
    transition: 0.3s;
}


.linksearch a{
    font-style: italic;
    text-decoration:underline;
    font-size: 1.1313em;
    fill: #17aae4;
}

.lupa{
    margin:3px auto;
}
/*FIN LANDER*/


/*LISTADO*/
main{
    margin:30px 0;
}
 .btnnobtn button {
    border: none;
    background: none;    
    cursor: pointer;
    text-transform: uppercase;
}

 .titlefilters2 button {
    border: none;
    background: none;    
    text-align:left;
    font-size: 1.5em;
    margin:0 auto;
    font-weight: 700;
    cursor: pointer;
}

 .titlefilters1 h2{
    margin-top: 40px;
    margin-right: 25px;
    font-weight:700;
    font-size:1.25em;
/*    text-align: center;*/
}

.selectedfilters ul{
    padding: 0;
}

.selectedfilters ul li{
    display: inline-flex;
    border-radius: 20px;
    padding: 0.3em 0.4em;
    margin:5px 4px;
    background-color:#17aae4;
    color:#fff;
    font-family:'Distefano-Slab';
    font-weight: 400;
    font-size:1em;
    text-transform: uppercase;
}

.selectedfilters i{
    margin-left: 1px;
    font-size: 0.5em;
    vertical-align: super;
}

.filters h2{
    font-size:1.125em;
    margin-bottom:20px;
}

.filters p{
    font-weight: 200;
}

.filters p:hover{
    background-color:#17aae4;
    transition: 0.1s;
    padding:0 6px;
    color: #fff;
}

.filters .arrow:after{
    font-family: 'FontAwesome';
    content: "\f0d7";
    margin: 20px;
}

.filters .collapsed:after{
    content: "\f0da";
}

.navpages{
    text-align: center;
    margin:20px auto;
}

.navpages i{
    margin:0 5px;
}

.navpages button,
.navpages p,
.navpages a{
    display:inline-block;
}

.navpages a{
    text-decoration: none;
    color:#000;
}

.navpages p{
    margin:0 40px;
}

#hiddenfilters{
    position: absolute;
    width: 100%;
    background: #fff;
    z-index:10;
    top:0;
    margin-left: -2000px;
}

.front h1{
    text-align: center;
    font-size:1.125em;
    font-weight:700;
    margin: 1em auto;
}

.Zbuttons{
    padding-top:20px;
    display:flex;
    justify-content: space-between;

}

.alertresults{
    font-weight: 200;
    
    margin-bottom: 1em;
    font-size:0.875em;
}

.results h2{
    font-weight: 700;
    font-size: 1.25em;
    color:#17aae4;
}

.box dl dt, 
.box dl dd{   
    display: inline-block;
    font-weight: 200;
    font-size: 0.875em;
}

.results p{
    font-weight: 200;
    font-size: 0.875em;
}

.art{
    background-color:#f4f4f4;  
    margin-bottom: 30px;
}
/*FIN LISTADO*/
/*FICHA*/

.navficha{
    padding-bottom: 40px;
}

.navficha i{
    margin:0 5px;
}

.navfile p,
.navfile a{
    display: inline-block;
}

.navfile p{
    margin:0 20px;
    font-size:1.125em;
}

.mainback a{
    text-transform: uppercase;
}

.navfile a,
.mainback a{
    text-decoration: none;
    color:#000;
    font-size:1.125em;
}

.titlefile h1{
    font-size:1.3131em;
    font-weight: 700;
    margin-bottom: 20px;
}

.categresultlast p,
.categresult p{
    font-style: italic;
    color:#7c7c7c;
}

.categ:nth-child(7){
    margin-bottom:10px;
} 

.categresultlast p{
 text-align: justify;
}

.contact h3,
.categ h2{
    font-size:1.125em; 
    font-weight: 700;
}

aside .vcard{
    color:#17aae4;
}

aside .vcard i{
    margin-right:4px;
    font-size:;
}

aside .vcard span {
    display: block;
    margin:10px auto;
}

aside .name {
    margin:0;
    color:#7c7c7c;
}

aside .ph{
    transform: rotate(90deg);
}
/*FICHA*/
/*CONSULTA*/
.titleconsult h1{
    text-transform: uppercase;
}

.titleconsult h2{
    font-size: inherit; 
}

.contactdata{
    margin-top:30px;
}
.contactdata textarea,
.contactdata input{
    border:none;
    border-bottom: 2px solid #000; 
}

.contactdata textarea{
    height: 100px;
}

.contactdata label{
    font-weight: 700;
}

.contactdata p{
    margin-left:10px;
}

.contactdata .numberconsult{
margin-right: 10px;    
}

.sendbtn{
    margin-top: 20px;
}
/*FIN CONSULTA*/
/*FOOTER*/
footer {
    border-top:1px solid rgba(0, 0, 0, 0.2);
}

footer .cidem img{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

.copyrightfooter p{
    margin:0 auto;
    font-size: 0.875em;
    font-weight: 400; 
    text-transform: uppercase;
    text-align: right;
}

.cidemcontact p{
    margin:0 auto;
    font-weight: 200;
    font-size: 0.875em;
}

.cidemcontact span,
.copyrightfooter span{
    display:block;
}

.rowfooter{
    padding-bottom: 1em;
}

@media screen and (max-width: 768px){
    .navfile{
        display: flex;
        justify-content: space-between;
    }    

    .mainback a{
        color:#17aae4;
    }
    .mainback{
        margin-bottom: 10px; 
    }
}

@media screen and (max-width: 576px){
    .searchbox::placeholder{
        font-size:0.8em;
}
    .titlefilters1 h1{
    text-align:center;
    padding: 10px 0;
    }

    .categ:nth-child(7){
    margin-bottom: 0;
    }

}