@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/tipo_-_distefanosans_regular-webfont.woff') format('woff');
}

@font-face {    
    font-family: 'Distefano-Sans';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/tipo_-_distefanosans-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/tipo_-_distefanosans_light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: italic;
    font-weight: 200;
    src: url('fonts/tipo_-_distefanosanslightitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/tipo_-_distefanosans-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: italic;
    font-weight: 900;
    src: url('fonts/tipo_-_distefanosans-blackitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/tipo_-_distefanosans-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Sans';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/tipo_-_distefanosans-bolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';

    font-weight: 900;
    src: url('fonts/tipo_-_distefanoslab-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';
    font-style: italic;
    font-weight: 900;
    src: url('fonts/tipo_-_distefanoslab-blackitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';

    font-weight: 700;
    src: url('fonts/tipo_-_distefanoslab-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/tipo_-_distefanoslab-bolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/tipo_-_distefanoslab-italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';

    font-weight: 200;
    src: url('fonts/tipo_-_distefanoslab-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';
    font-style: italic;
    font-weight: 200;
    src: url('fonts/tipo_-_distefanoslab-lightitalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Distefano-Slab';

    font-weight: 400;
    src: url('fonts/tipo_-_distefanoslab-regular-webfont.woff') format('woff');
}


body {
	font: normal 100%/1.5 'Distefano-Sans', sans-serif;
	background: #fff;
	color:#000;
}

header{
	margin-top: 1em;
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
	width: 100%;
	padding-bottom: 1em;
}

/*HACER QUE DESAPAREZCA LINEA CON MEDIAQ, HACER EL BUSCADOR MÁS GRANDE CON MEDIAQ*/
header .untref img{
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}
/*LANDER*/
.Lander{
    padding-top: 8em;
    padding-bottom: 8em;
}

.title h1{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25em;
}

.subtitle p{
    text-align:center;
    font-size: 1.5em;
    color: #4a4a4a;
    font-family:'DistefanoSlab-Regular','DistefanoSlab';
}

.searcher{
    margin-top: 50px;
}

.searcherbtn{
    background-color: #000;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
}

.searcherbox{
    background-color: #f4f4f4; 
    margin-right: 15px;
}

.linksearch {
    margin-top: 10px;
}

.linksearch a{
    font-style: italic;
    text-decoration:underline;
    font-size: 1.1313em;
    fill: #17aae4;
}

.lupa{
    margin:0;
}
/*FIN LANDER*/


/*LISTADO*/
main{
    margin:30px 0;
}
 .apply button {
    border: none;
    background: none;    
    cursor: pointer;
    text-transform: uppercase;
}

 .titlefilters2 button {
    border: none;
    background: none;    
    text-align:left;
    font-size: 1.5em;
    margin:0 auto;
    font-weight: 700;
    cursor: pointer;
}

 .titlefilters1 h2{
    margin-top: 40px;
    margin-right: 25px;
    font-weight:700;
    font-size:1.25em;
/*    text-align: center;*/
}

.modalscreen{
    padding:0;
    margin:0;
}

.selectedfilters ul{
    padding: 0;
}

.selectedfilters ul li{
    display: inline-block;
    border-radius: 20px;
    padding: 0 0.4em;
    margin:5px 4px;
    background-color:#17aae4;
    color:#fff;
    font-family:'Distefano-Slab';
    font-weight: 400;
    font-size:1.125em;
    text-transform: uppercase;
}

.selectedfilters i{
    margin-left: 1px;
    font-size: 0.75em;
    vertical-align: super;
}

.filters dt{
    font-size:1.125em    
}

.filters dd{
    display: list-item;
    font-weight: 200;
}

.alertresults{
    font-weight: 200;
    padding: 0;
    margin: 0;
    font-size:0.875em;
}

.results h2{
    font-weight: 700;
    font-size: 1.25em;
    color:#17aae4;
}

.box dl dt, 
.box dl dd{   
    display: inline-block;
    font-weight: 200;
    font-size: 0.875em;
}

.results p{
    font-weight: 200;
    font-size: 0.875em;
}

.art{
    background-color:#f4f4f4;  
    margin-bottom: 30px;
}
/*FIN LISTADO*/
footer {
    border-top:1px solid rgba(0, 0, 0, 0.2);
}

.navfooter ul{
    margin-top: 1em;
    padding:0;
    padding-bottom: 1em;
}
    
.navfooter ul li{
    display: inline-block;
    list-style: none;   
    margin-right:100px;
}

.navfooter ul li a{
    font-size: 1em;
    color:#000;
    text-decoration: none;
}

footer .cidem img{
    width: 100%;
    max-width: 200px; 
    max-height: 200px;
}

.copyrightfooter p{
    margin:0 auto;
    font-size: 0.875em;
    font-weight: 400; 
    text-transform: uppercase;
    text-align: right;
    white-space: pre-line;
}

.cidemcontact p{
    margin:0 auto;
    font-weight: 200;
    font-size: 0.875em;
    white-space: pre-line;
}

.rowfooter{
    padding-bottom: 1em;
}

@media (max-width: 576px){
    .navfooter ul li a{
        display:block;
        margin-bottom:1em;
    }
    .title h1{
        font-size: 1.750em;
    }

    .subtitle p{
        font-size: 0.875em;
    }

    .searchbox::placeholder{
        font-size:0.8em;
    }

    .titlefilters1 h1{
    text-align:center;
    padding: 10px 0;

}
}